<% layout('../layout/default') %>
<div class="container">
    <div class="panel login-panel">
        <div class="panel-heading"><h3 class="panel-title">Reset your password</h3></div>
        <% if(messages.length) { %>
            <div class="alert" style="margin-top: 10px;">
            <%= messages %>
            </div>
        <% } %>
        <% if(success === 'false') { %>
            <form action="/forgot_password" method="post">
              <input type="hidden" name="_csrf" value="<%= csrf_token %>">
              <fieldset>
                <div class="form-group">
                  <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <a href="/login" class="btn btn-default">Never mind</a>
                <span class="pull-right">
                    <button type="submit" class="btn btn-primary">Reset password</button>
                </span>
              </fieldset>
            </form>
        <% } %>
    </div>
</div>