<% layout('../layout/default') %>
<div class="container">
    <div class="panel login-panel">
        <div class="panel-heading"><h3 class="panel-title">New password</h3></div>
        <form action="/reset_password" method="post">
          <input type="hidden" name="_csrf" value="<%= csrf_token %>">
          <input type="hidden" name="_resetToken" value="<%= token %>">
          <fieldset>
            <div class="form-group">
              <input type="text" class="form-control" id="email" name="email" value="<%= user.email %>" disabled>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
            </div>
            <span class="pull-right">
                <button type="submit" class="btn btn-primary">Set new password</button>
            </span>
          </fieldset>
        </form>
        <% if(typeof errors !== 'undefined') { %>
          <div class="alert alert-danger" style="margin-top: 10px;">
              <% for(var i in errors) { %>
              <%= errors[i] %><br>
              <% } %>
          </div>
        <% } %>
    </div>
</div>