<% layout('../layout/default') %>
<div class="container">
	<div class="jumbotron">
		<h1>analyse.io</h1>
		<p class="lead">A real-time twitter sentiment analysis application for geographic regions</p>
		<a href="/signup" class="btn btn-large btn-primary">Sign up today</a>
		<a href="/auth/twitter" class="btn btn-large btn-info">Login with Twitter</a>
	</div>
</div>