<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="container">

          <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Be sure to leave the brand out there if you want it shown -->
          <% if(typeof userLoggedIn === "undefined" || userLoggedIn.name === '') { %>
          <a class="navbar-brand" href="/">analyse.io</a>
          <% } else { %>
          <a class="navbar-brand" href="/job/list">analyse.io</a>
          <% } %>
          <!-- Place everything within .nav-collapse to hide it until above 768px -->
          <div class="nav-collapse collapse navbar-responsive-collapse">
            <% if(typeof userLoggedIn === "undefined" || userLoggedIn.name === '') { %>
            <a href="/login" class="btn btn-default navbar-btn pull-right">Sign in</a>
            <% } else { %>
            <ul class="nav navbar-nav">
              <li class="dropdown <% if(title === "Analyse") { %> active <% } %>" >
                  <a data-toggle="dropdown" href="#">Analyse <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="/job/create"><b>New</b> - Create a new job</a></li>
                    <li><a href="/job/list"><b>List</b> - View all active jobs</a></li>
                    <li class="divider"></li>
                    <li><a href="/job/archive"><b>Archive</b> - View all saved jobs</a></li>
                  </ul>
              </li>
              <li <% if(title === "Profile") { %> class="active" <% } %> ><a href="/profile">Profile</a></li>
            </ul>
            <p class="navbar-text pull-right">
              Signed in as <a href="/profile" class="navbar-link"><%= userLoggedIn.name %></a> | <a href="/logout">Logout</a>
            </p>
            <% } %>
          </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /.navbar -->
    </header>

    <%- body %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
  <script src="/js/plugins.js"></script>
  </body>
</html>